
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#f4f6f9;
}


.bg-members{background:#506bbb;}
.bg-donors{background:#3db68a;}
.bg-beneficiaries{background:#af753f;}
.bg-projects{background:#ad4b7c;}
.card-box {
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.bg-distribution {
    background-color: #f6c23e !important;
    color: white !important;
}

.bg-volunteers {
    background-color: #36b9cc !important;
    color: white !important;
}
/* Sidebar */

.sidebar{
height:100vh;
background:#208aa5;
color:white;
}

.sidebar h2{
text-align:center;
padding:20px;
background:#17212b;
}

.sidebar a{
display:block;
padding:15px;
color:white;
text-decoration:none;
transition:.3s;
}

.sidebar a:hover{
background:#7bd0f1;
padding-left:20px;
}

/* Main Content */

.main{
flex:1;
padding:25px;
display:block;
}

/* Header */

.header{
background:white;
padding:15px;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
margin-bottom:20px;
}

/* Card */

.card{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

/* Table */

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

table th{
background:#2c3e50;
color:white;
padding:12px;
text-align:left;
}

table td{
padding:10px;
border-bottom:1px solid #eee;
}

table tr:hover{
background:#f5f5f5;
}

.wrapper{
display:flex;
min-height:100vh;
align-items:flex-start;
}

/* Buttons */

.btn{
padding:8px 14px;
border:none;
border-radius:5px;
cursor:pointer;
font-size:14px;
}

.btn-add{
background:#27ae60;
color:white;
}

.btn-edit{
background:#3498db;
color:white;
}

.btn-delete{
background:#e74c3c;
color:white;
}

.btn:hover{
opacity:.8;
}

/* search */

.search{
padding:10px;
width:250px;
border:1px solid #ddd;
border-radius:5px;
}

/* top bar */

.top-bar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

/* form */

.form-group{
margin-bottom:10px;
}

.form-control{
width:100%;
padding:8px;
border:1px solid #ddd;
border-radius:5px;
}

/* progress */

.progress{
    width: 100%;
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}

.progress-bar{
    height: 25px;
    background: green;
    color: white;
    text-align: center;
    line-height: 25px;
    border-radius: 20px;
}

.prgBar{
    background-color: #e0e0e0 !important;
}
/* responsive */

@media(max-width:768px){

.sidebar{
width:200px;
}

.main{
margin-left:200px;
}

}

@media print {

    /* Hide sidebar */
    .sidebar {
        display: none !important;
    }

    /* Hide button */
    button {
        display: none !important;
    }

    /* Full width content */
    .col-md-10 {
        width: 100% !important;
        margin: 0 !important;
    }

    /* Remove shadows/background */
    .card {
        box-shadow: none !important;
        border: 1px solid #000;
    }
}



    @page{
        margin:20mm;
    }

    body{
        padding:20px;
        font-family:Arial;
    }

    table{
        width:100%;
        border-collapse:collapse;
        margin-bottom:20px;
    }

    table, th, td{
        border:1px solid black;
        padding:8px;
    }
